body{
	background-color: #EEE;
	font-family: sans-serif;
	font-size: 13px;
}

#container{
	
}

#content{
	
	
}

#main{
	margin: 5px;
	
}

#nav{
	background-color: #CBDCF7;
	font-size: 14px;
	margin:0px 5px 5px 5px;
	overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CBDCF7;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    /*background-color: #F7E6CB;*/
	background-color: #cbf7d0;
}

#header{
	background-color: #47008A;
	color: white;
	font-size: 20px;
	padding:10px;
	margin:5px 5px 0px 5px;
	text-align: center;
	font-weight: bold;
}

#footer{
	
	
}
table {
  border-collapse: collapse;
 /* width: 50%;*/
 width: auto;
}
th, td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
}
th{
	background-color: #CBDCF7;
}
h3{
}